*.mp4
!02_2Ddesign/final-treasure-chest-opening-closing.mp4
!02_2Ddesign/living-hinge-laser-cutting.mp4
!03_fabrication/final-merry-go-round.mp4
!03_fabrication/friction-test-merry-go-round.mp4
!04_microcontroller/carousel-ena-150-continuous-motion.mp4
!04_microcontroller/pulsing-motion-no-objects.mp4
!04_microcontroller/pulsing-motion-one-calibration-cat.mp4
!04_microcontroller/potentiometer-speed-control-carousel.mp4
!04_microcontroller/speech-to-motor-high-accuracy-final.mp4
!04_microcontroller/whisper-speech-motor-low-accuracy.mp4
!06_inputs/capacitive-weight-sensor-values-increase.mp4
!06_inputs/final-weight-sensor-oled-display.mp4
!06_inputs/first-capacitance-sensor-wooden-block-distance.mp4
!06_inputs/ultrasonic-sensor-oled-display-action.mp4
!07_outputs/oled-wifi-signal-minus-50db.mp4
!07_outputs/completed-radio-wiring-code-demo.mp4
!07_outputs/final-mvp-radio-in-enclosure-internet.mp4
!08_cnc/srm-20-first-pcb-traces.mp4
!08_cnc/cnc-finishing-world-map-cut.mp4
!08_cnc/drill-bit-cutting-foam-small-areas.mp4
!09_networking/assembled-remote-buttons-encoder-before-led.mp4
!09_networking/final-web-app-working.mp4
!09_networking/final-remote-buttons-rotary-led.mp4
!09_networking/web-app-mode-switch-failure.mp4
!13_finalproject/fm-radio-chip-outside-lab.mp4
!13_finalproject/mp3-working-first-time-justin-bieber.mp4
!13_finalproject/radio-functionality-protoboard-front-cover.mp4
